<% include ./partials/header.ejs %>

<body>
  <% if (resources) { %>
    <iframe width=500 height=500 src='<%= resources.url %>'></iframe>

    <h5>
        <a href="<%= resources.url %>" target="_blank"> Visit the site </a>
    </h5>
    <h5>
      <%= resources.comment %> <br>

      <%= resources.rating %><br>
      <%= resources.val %><br>
    </h5>

  <% } else { %>
      <h3>no resources</h3>
    <% } %>
</body>
</html>
